@import 'variables';
@import '../../node_modules/skeleton-sass/skeleton/themes/fresh/_base.scss';

button {
    &.button__primary,
    &.button__submit {
        @extend .button-primary;
        margin-right: 1rem;
    }

    &.button__delete {
        @extend .button-primary;
        margin-left: auto;
        background-color: $danger;
        border-color: $danger;

        &:hover,
        &:focus {
            background-color: darken($danger, 5%);
            border-color: darken($danger, 5%);
        }
    }

    &.button__link {
        padding: 0;
        border: 0 none;
        color: $link;
        text-decoration: underline;
    }
}
