// Colours
$white: #feffff;

$primary: #98dafc;
$secondary: #daad86;
$tertiary: #312c32;
$danger: #c00;

// Greys
$grey-1: #f0f0f0;
$grey-2: #ccc;

// Actions
$link: $primary;

// Product
$product-bg: $grey-1;
$product-shadow: $grey-2;