.wishlist-products {

}

.product {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  box-shadow: 0 0 6px #ccc;
}

.product__media {
padding: 2.5rem;
min-width: 20rem;
max-width: 20rem;
}

.product__actions {
    padding-top: 2rem;

    .product__action {
        margin-bottom: 0;
    }
}

.product__details {
  width: 100%;
  padding: 2.5rem 5rem;
  background: #f0f0f0;

  input, textarea {
    width: 100%;
  }

  p {
    margin: 0;
  }
}

.button__link {
  padding: 0;
  border: 0 none;
  color: #1eaedb;
  text-decoration: underline;
}